<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="w-appName" value="" />
	<variable name="w-logFolder" value="F:\inetpub\wwwroot\CtsOrderManager\logs\${var:w-appName}" />
	<variable name="w-logFileName" value="${var:w-appName}_${machinename}_${processid}" />
	<variable name="w-logFilePathShort" value="${var:w-logFolder}\${date:format=yyyyMMdd}\${var:w-logFileName}" />
	<targets>
		<target name="file-log" xsi:type="File"
				layout="${longdate} || ${level:uppercase=true:fixedlength=true:padding=5} || ${logger} || ${message} || ${activityId} || ${exception:format=tostring} ||>>>"
				fileName="${var:w-logFilePathShort}.log"
				keepFileOpen="true"
				encoding="utf-8" />
		<target
		  xsi:type="Console"
		  name="console"
		  layout="${longdate} || ${level:uppercase=true:fixedlength=true:padding=5} || ${logger} || ${message} || ${activityId} || ${exception:format=tostring} ||>>>" />
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Debug" writeTo="console" />-->
		<logger name="*" minlevel="Debug" writeTo="file-log" />
	</rules>
</nlog>